# Dataset files
./dataset/

# Python cache and virtual environments
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Editor / IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp


# dataset
**.tsv
